<div id="header">
    <div class="text-center">
        Portfolio
    </div>
</div>

<div id="aboutCols">
    <div class="container jstf">
        <div class="h1 text-center">
            Reasons
        </div>
        <div class="col-sm-12 col-md-4 col-xs-4">
            <div class="h2 text-center">Title</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga reiciendis delectus sit animi eveniet dolor, possimus repellat voluptates magni, obcaecati quos unde impedit harum aliquam tenetur dolorum consequatur. Cumque, rem!</p>
        </div>

        <div class="col-sm-12 col-md-4 col-xs-4">
            <div class="h2 text-center">Title</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga reiciendis delectus sit animi eveniet dolor, possimus repellat voluptates magni, obcaecati quos unde impedit harum aliquam tenetur dolorum consequatur. Cumque, rem!</p>
        </div>

        <div class="col-sm-12 col-md-4 col-xs-4">
            <div class="h2 text-center">Title</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga reiciendis delectus sit animi eveniet dolor, possimus repellat voluptates magni, obcaecati quos unde impedit harum aliquam tenetur dolorum consequatur. Cumque, rem!</p>
        </div>
    </div>
</div>