<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link 
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link 
        rel="stylesheet" 
        href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link 
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="//fonts.googleapis.com/css?family=Ubuntu">
    <link 
        rel="stylesheet" 
        href="/stylesheets/preloader.css">
    <link 
        rel='stylesheet' 
        href='/stylesheets/style.css'>

    <script 
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script 
        src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
    <script 
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
    <script type="text/javascript">
        new WOW().init();
    </script>
  </head>
  <body>
      <script type="text/javascript">
        $("span.usernameLabel").html();

        $.ajax({
            url: 'http://projectmanagerapi.herokuapp.com/v1/',
            method: 'get',
            dataType: 'json',
            headers: { 'token': localStorage.getItem('token') || "" },
            success: function (doc, status) {
                if (doc.status) {
                    let menuContent = 
                                        "<div class='fl-right'>" + 
                                        "      <a href='/user/signin'>Sign in</a>" +
                                        "      <a href='/user/signup'>Sign up</a>" +
                                        "</div>";

                    $("#menu .mCnt").html(menuContent);
                } else {
                    console.log(localStorage);
                    let menuContent = 
                                        "<div class='fl-right'>" +
                                        "    <div class='dropdown'>" +
                                        "       <button class='btn btn-link dropdown-toggle' data-toggle='dropdown'><span class='usernameLabel'>" + localStorage.getItem('login') + "</span> <i class='fa fa-sort-desc' aria-hidden='true'></i>" +
                                        "       </button>" +
                                        "       <ul class='dropdown-menu'> " +
                                        "           <li><a href='/project?page=1'><i class='fa fa-bars' aria-hidden='true'></i> Projects list</a></li>" +
                                        "           <li><a href='/project/add'><i class='fa fa-plus' aria-hidden='true'></i> Add project</a></li>" +
                                        "           <li><a href='/user/settings'><i class='fa fa-cog' aria-hidden='true'></i> Settings</a></li>" +
                                        "           <li><a href='/logout'><i class='fa fa-sign-out' aria-hidden='true'></i> Log out</a></li>" +
                                        "       </ul>" +
                                        "   </div>" +
                                        "</div>"

                    $("#menu .mCnt").html(menuContent);
                }
            }
        });
      </script>
      <div id="menu">
          <div class="container">
            <a href="/"><img src="/images/logo.gif" alt=""></a>
            <a href="/start">Get started</a>
            <a href="/tutorial">Tutorial</a>
            <a href="/community">Community</a>
            <a href="/news">News</a>
            <div class="mCnt"></div>
          </div>
      </div>
    {{{body}}}
    <div id="preloader">
        <div class="h4 text-center text-typing" id="serverConnecting">Wait to connection to the server...</div>
        <div class="loader">
            <span class="ball"></span>
            <span class="ball2"></span>
            <ul>
                <li></li><li></li><li></li><li></li><li></li>
            </ul>
        </div>
    </div>
  </body>
</html>
