<div class="container">
    <form action="/project" method="POST">
        <input type="text" name="title">
        <input type="text" name="description">
        <input type="text" name="user">
        <input type="text" name="link">
        <input type="submit" name="send" value="Send">
    </form>

{{#each proj}}
    <a href="/project?id={{id}}">
        <div class="col-sm-12 col-md-6 col-xs6 text-center">
            <div class="h5">{{title}}</div>
            <p>{{description}}</p>
        </div>
    </a>
{{/each}}
</div>