<script type="text/javascript">
    $.ajax({
            url: 'http://projectmanagerapi.herokuapp.com/v1/',
            method: 'get',
            dataType: 'json',
            headers: { 'token': localStorage.getItem('token') || "" },
            success: function (doc, status) {
                if (!doc.success) {
                    $("#err").show();
                    $("#preloader").hide();
                } else {
                    window.location = "http://localhost:3000/project?page=1";
                }
            }
        });
</script>

<div class="container">
    <div id="err">
        <div class="vertical">
            <div class="formContent">
                <div class="bg-h">
                    <div class="h1 text-center martop">{{title}}</div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <form data-toggle="validator" role="form" action="/register" method="POST" id="regForm">
                        <div class="form-group">
                            <label for="login" class="control-label">Login</label>
                            <input type="text" name="login" 
                                data-minlength="5" data-maxlength="30" 
                                class="form-control" id="login" 
                                placeholder="Write your login" required>

                            <div class="help-block with-errors"></div>
                        </div>
                        
                        <div class="row">

                            <div class="form-group col-sm-6">
                                <label for="password" class="control-label">Password</label>
                                <input type="password" name="password" 
                                    data-minlength="5" data-maxlength="30" 
                                    class="form-control" id="password" 
                                    placeholder="Write your password" required>

                                <div class="help-block with-errors">No less than 5 characters</div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="password_repeat" class="control-label">Repeat password</label>
                                <input type="password" name="password_repeat" 
                                    data-minlength="5" data-maxlength="30" class="form-control" 
                                    id="password_repeat" placeholder="Repeat your password" 
                                    data-match="#password" data-match-error="Passwords is doesn't match" required>

                                <div class="help-block with-errors"></div>
                            </div>

                        </div>
                        
                        <div class="form-group">
                            <label for="email" class="control-label">Email</label>
                            <input type="email" name="email" 
                                class="form-control" id="email" 
                                placeholder="Write your email" 
                                data-error="Invalid email" required>

                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="btn-cntr">
                            <button type="submit" class="btn btn-success" id="reg" name="ok">Sign up</button>
                        </div>
                    </form>            
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#reg").click(function() {
        let registerData = {
            "login": req.body.login,
            "password": req.body.password,
            "email": req.body.email
        }
        
        $.post('http://projectmanagerapi.herokuapp.com/v1/reg', 
            registerData,
            function (doc) {
                let registerUser = function(item, success, error) {
                    if (item.success) {
                        success();
                    } else {
                        error();
                    }
                }

                registerUser(doc, function() {
                    $("#frmlg").html("<h1>Success register</h1>");
                    window.location = 'localhost:3000/user/signin';
                }, function() {
                    $("#frmlg").val("Err");
                });
            });
    });
</script>