<script type="text/javascript">
    $(function() { $("#preloader").hide(); });
</script>

<div class="col-sm-3 col-md-3 col-xs-3 martop">
    <div class="list-group" id="startMenu">
        <a href="#frst" class="list-group-item active">
            First steps
        </a>
        <a href="#twork" class="list-group-item">Teamwork</a>
        <a href="#rts" class="list-group-item">Routes</a>
        <a href="#ldata" class="list-group-item">Local data</a>
        <a href="#app" class="list-group-item">Console & Applications</a>
    </div>
</div>

<div class="col-sm-9 col-md-9 col-xs-9 martop">
    <div class="h1 marbot" id="frst">First steps</div>
    <div class="p marbot">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.
    </div>
    <div class="h4">How to do that</div>
    <div class="p">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.
    </div>

    <div class="h1 marbot" id="twork">Teamwork</div>
    <div class="p">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.
    </div>

    <div class="h1 marbot" id="rts">Routes</div>
    <div class="p marbot">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.
    </div>
    <div class="h4">How to register routes</div>
    <div class="p">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.
    </div>
    <div class="h4">Note</div>
    <div class="p">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.
    </div>

    <div class="h1 marbot" id="ldata">Local data</div>
    <div class="p marbot">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.
        <br>
        <code class="marbot">
            npm install -g pmanager <br>
            pmanager --auth="login"&"password" <br>
            pmanager --pull="projectname"
        </code>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.
    </div>
    <div class="h4">Git integration</div>
    <div class="p">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.
        <br>
        <code>git pull origim master</code>
    </div>

    <div class="h1 marbot" id="app">Console & Applications</div>
    <div class="p marbot">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.
        <br>
        <code class="marbot">
            pmanager --send="projectname"
        </code>
    </div>
    <div class="h4">Mobile Applications</div>
    <div class="p">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi quam fuga tempora mollitia pariatur, aspernatur vero quaerat quisquam repellat fugiat numquam consectetur dolorem, deserunt molestias! Explicabo commodi reprehenderit exercitationem.
    </div>
    
    
</div>